<div class="container" id="container" #container>
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Crear Cuenta</h1>
      <div class="social-container">
        <a href="#" id="iniciarConGoogle" class="social" (click)="ngRegistrer()"
          >Continua con Google<i class="fab fa-google"></i
        ></a>
      </div>
      <span>o utiliza otro email para regístrate</span>
      <div class="input-container">
        <input type="text" id="NombreRegistro" required="" />
        <label for="NombreRegistro" class="label">Nombre:</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="Email" id="EmailRegistro" required="" />
        <label for="EmailRegistro" class="label">Email:</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="password" id="PasswordRegistro" required="" />
        <label for="PasswordRegistro" class="label">Constraseña:</label>
        <div class="underline"></div>
      </div>
      <button>Regístrate</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>¡Bienvenido a Vacadata!</h1>
      <span></span>
      <div class="social-container">
        <a href="#" class="social"
          >Continua con Google<i class="fab fa-google"></i
        ></a>
      </div>
      <span>O</span>
      <!-- <input type="email" placeholder="Email" /> -->
      <div class="input-container">
        <input type="text" id="NombreInicio" required="" />
        <label for="NombreInicio" class="label">Nombre:</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="password" id="ConstraseñaInicio" required="" />
        <label for="ConstraseñaInicio" class="label">Constraseña:</label>
        <div class="underline"></div>
      </div>
      <a href="#">¿Olvidaste tu contraseña?</a>
      <button href="#">iniciar sesión</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>¡Bienvenido de nuevo a Vacadata!</h1>
        <p>¿Ya eres miembro?</p>
        <button class="ghost" id="signIn" #signInButton>Iniciar Sesión</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hola, Ganadero!</h1>
        <p>Crea tu cuenta y optimiza tu manejo ganadero.</p>
        <button class="ghost" id="signUp" #signUpButton>Regístrate</button>
      </div>
    </div>
  </div>
</div>
