
.iconList, .userStyle {
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
}

.iconList {
  text-align: left;
  margin-left: 10px;
}

.userStyle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

