.iconList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-top: 30px; 
  }
  .iconList li {
      position: relative;
      background-color: #000700;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      padding: 6px;
      margin-bottom: 5px;
      text-align: center;
      width: 40px;
      transition: width 0.2s ease;
      overflow: hidden;
      white-space: nowrap;
      font-size: 25px;
      a{
        font-family: 'Times New Roman', Times, serif;
        margin-left: 20px;
        opacity: 0;    
      }
    }
  .iconList li:hover{
    width: 155px;
    z-index: 1000;
    box-shadow: 4px 0px 5px rgba(0,0,0,0.2);
    a{
      font-size: 18px;
      opacity: 1;
    }
  }
.logOut li{
      position: absolute;
      background-color: #000700;
      bottom: 0;
      left: 25px;
      height: 30px;
      padding: 6px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      margin-bottom: 5px;   
      transition: width 0.2s ease;
      overflow: hidden;
      white-space: nowrap;
      font-size: 25px;
      a{
        font-family: 'Times New Roman', Times, serif;
        margin-left: 20px;
        opacity: 0;    
      }
  }
  .logOut li:hover{
      width: 150px;
      z-index: 1000;
      box-shadow: 4px 0px 5px rgba(0,0,0,0.2);
      a{
        font-size: 18px;
        opacity: 1;
      }
    }