<div class="iconList">
  <h2>
    VacaData
    <span class="fas fa-cow"></span>
  </h2>
</div>
<div class="userStyle">
  @if(user?.photoURL) {<img
    src="{{ user.photoURL }}"
    class="userPhoto"
    (click)="showMenu()"
  />}@else {<span (click)="showMenu()" class="fas fa-user"></span>} @if(openMenu
  === true){
  <div class="input">
    <button class="value">{{ user.displayName }}</button>
    <button class="value">Account</button>
    <button class="value">Appearance</button>
    <button class="value">Accessibility</button>
    <button (click)="signOuth()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out
    </button>
  </div>
  }
</div>
