<form [formGroup]="animales" class="contentCreateAnimals">
  <button class="btnChangeImg btnPosition" (click)="createAnimal('Closed')">
    <span>X</span>
  </button>
  <div class="bovineImage">
    <img
      src="https://i.pinimg.com/736x/13/e2/d9/13e2d927506ba20a3b91bb8bdff299e8.jpg"
    />
    <button class="fas fa fa-upload btnChangeImg"></button>
  </div>

  <div class="divContentTxts">
    <input
      formControlName="NameBovine"
      type="text"
      placeholder="nombre Animal"
    />
    <input
      formControlName="Born_Date"
      type="date"
      placeholder="fecha nacimiento"
    />
    <select formControlName="Race" name="razas">
      <option value="" disabled selected>Raza</option>
      <option>raza 1</option>
      <option>raza 2</option>
      <option>raza 3</option>
    </select>
    <input formControlName="Mother" type="text" placeholder="Madre" />
    <input formControlName="Father" type="text" placeholder="Padre" />
    <input formControlName="Weight" type="number" placeholder="Peso" />
    <select formControlName="Sex" name="Sex" placeholder="Sexo">
      <option value="" disabled selected>Sexo</option>
      <option>Macho</option>
      <option>Hembra</option>
    </select>
    <input formControlName="Address" type="text" placeholder="direccion" />
    <select formControlName="Reproduction" name="Reporduction">
      <option value="" disabled selected>Reproduccion</option>
      <option>Apto / Apta</option>
      <option>No Apto / No Apta</option>
    </select>
    <p-button
      type="button"
      pRipple
      label="Guardar"
      severity="success"
      (click)="saveAnimal()"
    ></p-button>
  </div>
</form>
<p-toast></p-toast>
