<form
  [formGroup]="animales"
  class="flex flex-1 flex-row flex-wrap absolute justify-center items-center inset-[20px] ml-[63.9vh] mt-[70px] h-[88vh] w-[75vh] bg-[rgba(114,120,139,0.68)] rounded-[14px] overflow-y-auto overflow-x-hidden"
>
  <p-button
    type="button"
    severity="contrast"
    label="X"
    class="absolute top-3 right-4 text-white flex justify-center items-center text-lg max-h-[5vh] px-4 py-2 font-semibold gap-2 rounded"
    (click)="createAnimal('Closed')"
  >
  </p-button>

  <div
    class="flex mt-8 min-w-[150px] min-h-[150px] h-[250px] w-[250px] max-h-[300px] max-w-[300px] rounded-[12px] shadow-[5px_7px_10px_rgba(0,0,0,0.555)] transition duration-300 hover:scale-105 bg-white justify-center items-center"
  >
    <qrcode
      [qrdata]="QRCodeGenerateRandom"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>

    <p-button
      type="button"
      severity="info"
      raised="true"
      class="absolute max-h-[5vh] text-white/70 m-2 px-2 py-3 flex justify-between items-center text-sm font-semibold gap-2 rounded"
      (onClick)="newQR()"
      ><span class="fas fa-arrows-rotate"></span
    ></p-button>
  </div>

  <div class="flex flex-col justify-center items-center p-10">
    <p-float-label variant="on" class="p-float-label mb-2 w-80">
      <label for="nombreAnimal">Nombre Animal</label>
      <input
        id="nombreAnimal"
        pInputText
        formControlName="NameBovine"
        type="text"
        class="w-full"
      />
    </p-float-label>

    <span class="mb-2 w-80">
      <p-datepicker
        formControlName="Born_Date"
        placeholder="Fecha de nacimiento"
        styleClass="w-full"
        showIcon="true"
      ></p-datepicker>
    </span>

    <span class="p-float-label mb-2 w-80">
      <p-dropdown
        [options]="razas"
        formControlName="Race"
        optionLabel="name"
        [showClear]="true"
        class="w-full"
        placeholder="Razas"
      >
      </p-dropdown>
    </span>

    <p-floatLabel variant="on" class="p-float-label mb-2 w-80">
      <label for="madre">Madre</label>
      <input
        id="madre"
        pInputText
        formControlName="Mother"
        type="text"
        class="w-full"
      />
    </p-floatLabel>

    <p-float-label variant="on" class="p-float-label mb-2 w-80">
      <label for="padre">Padre</label>
      <input
        id="padre"
        pInputText
        formControlName="Father"
        type="text"
        class="w-full"
      />
    </p-float-label>

    <p-float-label variant="on" class="p-float-label mb-2 w-80">
      <label for="peso">Peso</label>
      <input
        id="peso"
        pInputText
        formControlName="Weight"
        type="number"
        class="w-full"
      />
    </p-float-label>

    <span class="p-float-label mb-2 w-80">
      <p-dropdown
        [options]="[{ name: 'Macho' }, { name: 'Hembra' }]"
        formControlName="Sex"
        optionLabel="name"
        [showClear]="true"
        placeholder="Sexo"
        class="w-full"
      >
      </p-dropdown>
    </span>

    <p-floatLabel variant="on" class="p-float-label mb-2 w-80">
      <label for="direccion">Dirección</label>
      <input
        id="direccion"
        pInputText
        formControlName="Address"
        type="text"
        class="w-full"
      />
    </p-floatLabel>

    <span class="p-float-label mb-2 w-80">
      <p-dropdown
        [options]="[{ name: 'Apto / Apta' }, { name: 'No Apto / No Apta' }]"
        formControlName="Reproduction"
        optionLabel="name"
        [showClear]="true"
        placeholder="Reproduction"
        class="w-full"
      >
      </p-dropdown>
    </span>

    <p-button
      type="button"
      label="Guardar"
      severity="contrast"
      pRipple
      [style]="{ width: '100%' }"
      [disabled]="!formIsComplete"
      (click)="saveAnimal()"
    >
    </p-button>
  </div>
  <p-toast />
</form>
