<div class="contentAnimals">
  @for (item of countCards; track $index) {
  <div class="card">
    <div class="top-section">
      <div class="border"></div>
      <div class="icons">
        <div class="button-container">
          <button class="button" (click)="showHealth('healthBoard')">
            <i class="fas fa-suitcase-medical icon"></i>
          </button>
          <button class="button">
            <i class="fas fa-trash icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <span class="title">{{ item.NameBovine }}</span>
      <div class="row row1">
        <div class="item">
          <span class="big-text">{{ item.Born_Date }}</span>
          <span class="regular-text">Born day</span>
        </div>
        <div class="item">
          <span class="big-text">{{ item.Weight }}</span>
          <span class="regular-text">Weight</span>
        </div>
        <div class="item">
          <span class="big-text">{{ item.Race }}</span>
          <span class="regular-text">Race</span>
        </div>
      </div>
    </div>
  </div>
  } @if (countCards.length <=11) {
  <div class="ButtonCard">
    <button class="newCard" (click)="newAnimal = true">
      <span class="shadow"></span>
      <span class="edge"></span>
      <div class="front">
        <span class="txtBtnCard">+</span>
      </div>
    </button>
  </div>
  } @if(newAnimal === true){
  <app-create-animals
    (newAnimal)="plusCard($event)"
    (successMessageBovine)="toAppComponenteSuccessMessage($event)"
  />
  }
</div>
