<div
  class="flex flex-1 flex-row p-5 flex-wrap h-[84vh] max-h-full max-w-full overflow-y-auto overflow-x-hidden"
>
  @for (item of countCards; track $index) {
  <p-card
    [style]="{
      width: '25rem',
      overflow: 'hidden',
      border: '4px solid #27272a',
      borderRadius: '8px',
      marginLeft: '10px'
    }"
  >
    <ng-template #header>
      <div class="flex w-full h-full bg-white justify-center items-center p-4">
        <qrcode
          [qrdata]="item.qrData"
          [width]="200"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>
    </ng-template>
    <ng-template #title>
      {{ item.NameBovine }}
    </ng-template>
    <p>Raza: {{ item.Race }}</p>
    <p>Peso: {{ item.Weight }}</p>
    <p>Nacimiento: {{ item.Mother }}</p>
    <p>Nacimiento: {{ item.Father }}</p>
    <p>Nacimiento: {{ item.Born_Date }}</p>
    <p>Nacimiento: {{ item.Sex }}</p>
    <p>Nacimiento: {{ item.Reproduction }}</p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button
          label="Borrar"
          severity="secondary"
          class="w-full"
          [outlined]="true"
          styleClass="w-full"
        />
        <p-button
          severity="contrast"
          label="Editar"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </ng-template>
  </p-card>
  } @if (countCards.length <=11) {
  <div
    class="flex ml-5 p-3 justify-center items-center w-[230px] h-[270px] rounded-[20px] bg-zinc-800"
  >
    <p-button
      label="+"
      severity="contrast"
      raised="true"
      [style]="{
        width: '20vh',
        height: '25vh',
        fontSize: '200px',
        color: '#27272a'
      }"
      (click)="newAnimal = true"
    />
  </div>
  } @if(newAnimal === true){
  <app-create-animals
    (newAnimal)="plusCard($event)"
    (successMessageBovine)="toAppComponenteSuccessMessage($event)"
  />
  }
</div>
