<div class="container">
  @if (login === false) {
  <nav class="loginNav"><app-login /></nav>
  }@else {
  <nav class="menu">
    <app-menu (selectBoard)="getBoard($event)" />
  </nav>
  <nav class="content">
    <app-animals
      (successMessageToAppComponet)="messageSuccessAddBovine($event)"
    />
    @if (Board === "animalsBoard") {
    <app-animals (selectHealth)="getBoard($event)" />
    } @else if (Board === "healthBoard") {
    <app-health />
    } @else if(Board === "reproductionBoard") {
    <app-reproducction />
    }
  </nav>
  }
</div>
<p-toast />
<router-outlet />
