<div class="flex h-100vh w-full flex-col grow">
  @if (login === false) {
  <nav class="flex-1 flex justify-center items-center w-full h-full">
    <app-login />
  </nav>
  }@else {
  <nav
    class="w-full fixed z-50 flex flex-row justify-end items-center bg-[#000700] h-[80px] top-0 left-0"
  >
    <div class="flex items-center absolute right-2">
      <p-menu
        #menu
        [model]="itemsMenu"
        [popup]="true"
        [appendTo]="'body'"
        styleClass="m-4"
      />
      <img
        class="w-[60px] h-[60px] rounded-2xl cursor-pointer"
        (click)="menu.toggle($event)"
        [src]="user.photoURL"
      />
    </div>
  </nav>
  <nav
    class="flex flex-col grow bg-[#ffffff] p-[10px] h-screen min-h-[100vh] overflow-y-auto"
  >
    <app-animals
      (successMessageToAppComponet)="messageSuccessAddBovine($event)"
    />
    @if (Board === "animalsBoard") {
    <app-animals (selectHealth)="getBoard($event)" />
    } @else if (Board === "healthBoard") {
    <app-health />
    } @else if(Board === "reproductionBoard") {
    <app-reproducction />
    }
  </nav>
  }
</div>
<p-toast />
<router-outlet />
